#=================
#eclipse-workspace
#=================
.metadata

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings

#=================
#maven-files
#=================
*target

#================
#log files
#================

