#=================
#eclipse-workspace
#=================
.metadata

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings
*.checkstyle

#=================
#maven-files
#=================
*target

#================
#log files
#================
*velocity.log

#================
#h2db
#================
*db