<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   Copyright 2009 TiTA Project, Vienna University of Technology
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE\-2.0
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 -->
 
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
      http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">
	<persistence-unit name="titaDataSource" transaction-type="RESOURCE_LOCAL">
    <!-- Add Classes that are ment to be persisted here -->
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <non-jta-data-source>jdbc/titaDatasource</non-jta-data-source>
    
    <class>at.ac.tuwien.ifs.tita.entity.conv.IssueTracker</class> 
    <class>at.ac.tuwien.ifs.tita.entity.conv.ProjectStatus</class>
    <class>at.ac.tuwien.ifs.tita.entity.conv.Role</class>
    <class>at.ac.tuwien.ifs.tita.entity.TiTATask</class>
    <class>at.ac.tuwien.ifs.tita.entity.IssueTrackerProject</class>
    <class>at.ac.tuwien.ifs.tita.entity.IssueTrackerTask</class>
    <class>at.ac.tuwien.ifs.tita.entity.IssueTrackerLogin</class>
    <class>at.ac.tuwien.ifs.tita.entity.TiTAProject</class>
    <class>at.ac.tuwien.ifs.tita.entity.Effort</class>
    <class>at.ac.tuwien.ifs.tita.entity.TiTAUser</class>
    <class>at.ac.tuwien.ifs.tita.entity.UserTitaProject</class>
    <properties>
      <property name="hibernate.archive.autodetection" value="class, hbm" />
      <property name="hibernate.hbm2ddl.auto" value="update" />
      <property name="hibernate.show_sql" value="true" />
      <property name="hibernate.show_comment" value="true" />
      <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
      <!-- property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" /-->
    </properties>
  </persistence-unit>
</persistence>